{{ define "main" }}
<!-- This is the home page's layout. It will pull in the header and footer, but not the single.html template. It is references in the baseof.html layout. -->
<div id="mainImg" class="uk-background-cover uk-section uk-section-medium" >
    <div id="overlay" class="uk-container uk-align-center uk-padding-large">
      <h1 id="welcome" class="uk-text-center uk-heading-primary">Welcome To</h1>
      <img class="uk-align-center" id="dspLogo" src="images/BOA-DSP_LogoR-5405.png">
      <h1 id="help" class="uk-text-center up-remove-margin-top uk-heading-primary">Help</h1>
      <div class="uk-margin-large-top uk-flex uk-flex-center uk-flex-wrap">
          <div class="uk-card uk-padding-remove uk-width-auto uk-margin-bottom uk-margin-right uk-card-default" >
            <div class="uk-card-header">
              <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                  <span uk-icon="icon: push; ratio: 2.5"></span>
                </div>
                <div class="uk-width-expand">
                  <h3 class="uk-card-title uk-margin-remove-bottom">Migration</h3>
                </div>
              </div>
            </div>
            <div class="uk-card-body">
              <ul class="uk-text-left uk-list uk-list-bullet">
                <li><a href="{{`/dspMigrate/` | relURL}}">dspMigrate</a></li>
                <li><a href="{{`/Console/` | relURL}}">Console</a></li>
                <li><a href="{{`/Design/` | relURL}}">Target Design</a></li>
                <li><a href="{{`/Construct/` | relURL}}">Construct</a></li>
                <li><a href="{{`/Map/` | relURL}}">Map</a></li>
                <li><a href="{{`/Transform/` | relURL}}">Transform</a></li>
                <li><a href="{{`/SQL_AutoGen/` | relURL}}">SQL AutoGen</a></li>
                <li><a href="{{`/Data_Services_AutoGen/` | relURL}}">Data Services AutoGen</a></li>
              </ul>
            </div>
          </div>
          <div class="uk-card uk-padding-remove uk-width-auto uk-margin-bottom uk-margin-right uk-card-default">
            <div class="uk-card-header">
              <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                  <span uk-icon="icon: check; ratio: 2.5"></span>
                </div>
                <div class="uk-width-expand">
                  <h3 class="uk-card-title uk-margin-remove-bottom">Data Quality</h3>
                </div>
              </div>
            </div>
            <div class="uk-card-body">
              <ul class="uk-text-left uk-list uk-list-bullet">
                <li><a href="{{`/dspCompose/` | relURL}}">dspCompose</a></li>
                <li><a href="{{`/dspMonitor/` | relURL}}">dspMonitor</a></li>
                <li><a href="{{`/ISA/` | relURL}}">Information Steward</br> Accelerator (ISA)</h3> </a></li>
              </ul>
            </div>
          </div>
          <div class="uk-card uk-margin-right uk-width-auto uk-margin-bottom uk-padding-remove uk-card-default">
            <div class="uk-card-header uk-padding-small">
              <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                  <span uk-icon="icon: database; ratio: 3.5"></span>
                </div>
                <div class="uk-width-expand">
                  <h3 class="uk-card-title uk-margin-remove-bottom">Master Data</h3>
                  <h3 class="uk-card-title uk-margin-remove-bottom uk-margin-remove-top">Management</h3>
                </div>
              </div>
            </div>
            <div class="uk-card-body">
              <ul class="uk-text-left uk-list uk-list-bullet">
                <li><a href="{{`/dspConduct/` | relURL}}">dspConduct</a></li>
              </ul>
            </div>
          </div>
          <div class="uk-card uk-padding-remove uk-margin-right uk-width-auto uk-margin-bottom uk-card-default">
            <div class="uk-card-header">
              <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                  <span uk-icon="icon: server; ratio: 2.5"></span>
                </div>
                <div class="uk-width-expand">
                  <h3 class="uk-card-title uk-margin-remove-bottom">Platform</h3>
                </div>
              </div>
            </div>
            <div class="uk-card-body">
              <ul class="uk-text-left uk-list uk-list-bullet">
                <li><a href="{{`/Agent_Int/` | relURL}}">Agent Interface</a></li>
                <li><a href="{{`/Collect/` | relURL}}">Collect</a></li>
                <li><a href="{{`/Integrate/` | relURL}}">Integrate</a></li>
                <li><a href="{{`/WebApp_Dev/` | relURL}}">DSP App Development</a></li>
                <li><a href="{{`/Assemble/` | relURL}}">Assemble</a></li>
                <li><a href="{{`/Common/` | relURL}}">Common</a></li>
                <li><a href="{{`/Sys_Admin/` | relURL}}">System Administration</a></li>
                <li><a href="{{`/IGUC/` | relURL}}">IG Universal Connect</a></li>
                <li><a href="{{`/Automate/` | relURL}}">Automate</a></li>
                <li><a href="{{`/dspTrack/` | relURL}}">dspTrack</a></li>
                <li><a href="{{`/DSP_Add_Ons/` | relURL}}">DSP Add Ons</a></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
{{ end }}