{{ $map := .Site.Data.Sidebars.dspConduct.overview }}
        {{ range $elem_key, $elem_val := $map }}
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
          <li>
            <a href="{{ $elem_val | relURL }}">{{ $elem_key }}</a>
          </li>
        </ul>
        {{ end }}
      <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
        <li class="uk-parent"><a href="#">Configuration</a>
          <ul class="uk-nav-sub">
        {{ $map := .Site.Data.Sidebars.dspConduct.configuration }}
        {{ range $elem_key, $elem_val := $map }}
          <li>
            <a href="{{ $elem_val | relURL }}">{{ $elem_key }}</a>
          </li>
        {{ end }}  
        </ul>
        </li>
        <li class="uk-parent"><a href="#">Procedures</a>
        <ul class="uk-nav-sub uk-nav-parent-icon" uk-nav>
          {{ $map := .Site.Data.Sidebars.dspConduct.procedures }} 
          {{ range $elem_key, $elem_val := $map }}
          {{ end }}
          <li class="uk-parent"><a href="#">Design a Data Governance Hierarchy</a>
            <ul class="uk-nav-sub" uk-nav>
                {{ $map := .Site.Data.Sidebars.dspConduct.procedures.Design }}
                {{ range $elem_key, $elem_val := $map }}
                {{ end }}
                {{ $subtopicsMap := $map.subtopics }}
                {{ range $subtopics_key, $subtopics_val := $subtopicsMap }}
              <li>
                <a href="{{ $subtopics_val }}">{{ $subtopics_key }}</a>
              </li>
               {{ end }}
            </ul>
          </li>
          <li class="uk-parent"><a href="master_data_mgmt/dspconduct/use_cases/manage_positions">Manage Positions</a>
            <ul class="uk-nav-sub" uk-nav>
                {{ $map := .Site.Data.Sidebars.dspConduct.procedures.ManageP }}
                {{ range $elem_key, $elem_val := $map }}
                {{ end }}
                {{ $subtopicsMap := $map.subtopics }}
                {{ range $subtopics_key, $subtopics_val := $subtopicsMap }}
              <li>
                <a href="{{ $subtopics_val }}">{{ $subtopics_key }}</a>
              </li>
               {{ end }}
            </ul>
          </li>
          <li><a href="/master_data_mgmt/dspconduct/use_cases/manage_org_units">Manage Org Units</a></li>
        </ul>
        </li>   
      </ul>
    
