<footer>
    <div class="uk-section uk-section-medium uk-section-secondary">
        <div id="footer" class="uk-flex-center uk-padding-small" uk-grid>
          <div id="footerNav" class="uk-width-auto@s uk-width-1-1">
            <ul class="uk-nav uk-nav-default">
              <li class="uk-nav-header">Get In Touch</li>
              <li><a href="#">Contact Support</a></li>
              <li><a href="#">Access Product Ideas Portal</a></li>
              <li><a href="#">Request Product Training</a></li>
            </ul>
            <ul class="uk-nav uk-nav-default">
              <li class="uk-nav-header">Related Content</li>
              <li><a href="#">Glossary</a></li>
              <li><a href="#">Product Licenses</a></li>
              <li><a href="#">Knowledge Base</a></li>
            </ul>
          </div>
          <div class="uk-width-1-3@s uk-width-1-1">
            <div>
              <a href="#"><img id="dataInsiders" src="{{`images/DI_Community-Website.svg` | relURL}}"></a>
            </div>
          </div>
          <div class="uk-width-1-3@s uk-width-1-1">
            <img src="{{`images/BOA-logo.svg` | relURL}}">
            <p id="copyright" class="uk-text-meta">**Access to pages and visibility of fields may be restricted based on the security settings of the current user.<br/>
            Copyright © 2018 BackOffice Associates, LLC and/or its affiliates. All rights reserved.<br/>
            The DSP logo is a registered trademark of BackOffice Associates®. Other names appearing on the Site may be trademarks of their respective owners.</p>
          </div>
        </div>
        <hr>
        <div id="legal" class="uk-flex-center" uk-grid>
          <div class="uk-text-center uk-width-1-4@s uk-width-1-1">
            <a href="#">Privacy Policy</a>
          </div>
          <div class="uk-text-center uk-width-1-4@s uk-width-1-1">
            <a href="#">Terms of Use</a>
          </div>
          <div class="uk-text-center uk-width-1-4@s uk-width-1-1">
            <a href="#">Trademarks</a>
          </div>
        </div>
      </div>
    </div>
</footer>