<div>
  <div uk-sticky="media: 960" class="uk-navbar-container uk-sticky uk-active uk-sticky-below uk-sticky-fixed" style="position: fixed; top: 0px;">
    <div class="uk-container uk-container-expand uk-padding-remove">
      <nav id="navHeader" uk-navbar>
        <div class="uk-margin-large-left uk-navbar-left uk-light">
          <a class="uk-navbar-item uk-logo" style="width:5rem; height:5rem;" href="{{`/` | relURL}}"><img src="{{`images/boa_logo.png` | relURL}}" ></a>
          <ul id="headerNav" class="uk-navbar-nav">
            <li>
              <a class="uk-text-capitalize uk-visible@m" href="#">Version</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li class="uk-active"><a href="#">Active</a></li>
                  <li><a href="#">Item</a></li>
                  <li><a href="#">Item</a></li>
                </ul>
              </div>
            </li>
          </ul>
          <div class="uk-visible@l">
            <a class="uk-navbar-toggle" uk-search-icon href="#"></a>
            <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
              <form class="uk-search uk-search-navbar uk-width-1-1">
                <input class="uk-search-input" type="search" placeholder="Search..." autofocus>
              </form>
            </div>
          </div>
        </div>
        <div class="uk-navbar-right uk-margin-large-right uk-light">
          <ul id="headerNav" class="uk-navbar-nav uk-visible@m">
            <li class="uk-active">
              <a class="uk-text-capitalize" href="#">What's New</a></li>
            <li>
              <a class="uk-text-capitalize" href="#">Solutions</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li><a href="#">Migration</a>
                    <div class="uk-navbar-dropdown" uk-dropdown="pos: left">
                      <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">dspMigrate</a></li>
                        <li><a href="{{`/console/` | relURL}}">Console</a></li>
                        <li><a href="{{`/design/` | relURL}}">Target Design</a></li>
                        <li><a href="{{`/construct/` | relURL}}">Construct</a></li>
                        <li><a href="{{`/map/` | relURL}}">Map</a></li>
                        <li><a href="{{`/transform/` | relURL}}">Transform</a></li>
                        <li><a href="{{`/sql-autogen/` | relURL}}">SQL AutoGen</a></li>
                        <li><a href="{{`/data-services-autogen/` | relURL}}">Data Services AutoGen</a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a href="#">Data Quality</a>
                    <div class="uk-navbar-dropdown" uk-dropdown="pos: left">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li class="uk-active"><a href="{{`/dspcompose/` | relURL}}">dspCompose</a></li>
                          <li><a href="{{`/dspmonitor/` | relURL}}">dspMonitor</a></li>
                        </ul>
                      </div>
                  </li>
                  <li><a href="#">Master Data Management</a>
                    <div class="uk-navbar-dropdown" uk-dropdown="pos: left">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li class="uk-active"><a href="{{`/dspconduct/` | relURL}}">dspConduct</a></li>
                        </ul>
                      </div>
                  </li>
                  <li><a href="#">Platform</a>
                    <div class="uk-navbar-dropdown" uk-dropdown="pos: left">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li><a href="{{`/agent/` | relURL}}">Agent Interface</a></li>
                          <li><a href="{{`/collect/` | relURL}}">Collect</a></li>
                          <li><a href="{{`/integrate/` | relURL}}">Integrate</a></li>
                          <li><a href="{{`/webapp-dev/` | relURL}}">DSP App Development</a></li>
                          <li><a href="{{`/assemble/` | relURL}}">Assemble</a></li>
                          <li><a href="{{`/common/` | relURL}}">Common</a></li>
                          <li><a href="{{`/system-admin/` | relURL}}">System Administration</a></li>
                          <li><a href="{{`/iguc/` | relURL}}">IG Universal Connect</a></li>
                          <li><a href="{{`/automate/` | relURL}}">Automate</a></li>
                          <li><a href="{{`/dsptrack/` | relURL}}">dspTrack</a></li>
                          <li><a href="{{`/dsp-add-ons/` | relURL}}">DSP Add Ons</a></li>
                        </ul>
                      </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a class="uk-text-capitalize" href="#">Tips</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li><a href="{{`/bulk-execution/` | relURL}}">Bulk Execution</a></li>
                  <li><a href="{{`/excel-integration/` | relURL}}">Excel Integration</a></li>
                  <li><a href="#">Item</a></li>
                </ul>
              </div>
            </li>
          </ul>
          <a class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon" uk-navbar-toggle-icon uk-toggle href="#offcanvas-slide"></a>
        </div>
      </nav>
    </div>
  </div>