<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" href="{{`images/favicon.ico` | relURL}}" type="image/x-icon" />
<link href="{{`css/uikit.css` | relURL}}" rel="stylesheet">
<link href="{{`css/app.css` | relURL}}" rel="stylesheet">
<script src="{{`js/app.js` | relURL}}"></script>
<script src="{{`js/uikit.min.js` | relURL}}"></script>
<script src="{{`js/uikit-icons.min.js` | relURL}}"></script>
