<!-- This partial template contains just the top nav that is used on every page. It is used by the baseof.html layout. -->
<div>
  <div uk-sticky="media: 960" class="uk-navbar-container uk-sticky uk-active uk-sticky-below uk-sticky-fixed" style="position: fixed; top: 0px;">
    <div class="uk-container uk-container-expand uk-padding-remove">
      <nav id="navHeader" uk-navbar>
        <div class="uk-margin-large-left uk-navbar-left uk-light">
          <a class="uk-navbar-item uk-logo" style="width:8rem; height:5rem;" href="{{`/` | relURL}}"><img src="{{`images/Syniti_Logo_RBG_White.svg` | relURL}}" ></a>
          <ul id="headerNav" class="uk-navbar-nav">
            <li>
              <a class="uk-text-capitalize uk-visible@m" href="#">Version</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li class="uk-active"><a href="#">Active</a></li>
                  <li><a href="#">Item</a></li>
                  <li><a href="#">Item</a></li>
                </ul>
              </div>
            </li>
          </ul>
          <div class="uk-visible@l">
            <a class="uk-navbar-toggle" uk-search-icon href="#"></a>
            <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
              <form class="uk-search uk-search-navbar uk-width-1-1">
                <input class="uk-search-input" type="search" placeholder="Search..." autofocus>
              </form>
            </div>
          </div>
        </div>
        <div class="uk-navbar-right uk-margin-large-right uk-light">
          <ul id="headerNav" class="uk-navbar-nav uk-visible@m">
            <li class="uk-active">
              <a class="uk-text-capitalize" href="#">What's New</a></li>
            <li>
              <a class="uk-text-capitalize" href="#">Solutions</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li><a href="#">Migration</a>
                    <div class="uk-navbar-dropdown" uk-dropdown="pos: left">
                      <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="{{`/dspMigrate/` | relURL}}">dspMigrate</a></li>
                        <li><a href="{{`/Console/` | relURL}}">Console</a></li>
                        <li><a href="{{`/Design/` | relURL}}">Target Design</a></li>
                        <li><a href="{{`/Construct/` | relURL}}">Construct</a></li>
                        <li><a href="{{`/Map/` | relURL}}">Map</a></li>
                        <li><a href="{{`/Transform/` | relURL}}">Transform</a></li>
                        <li><a href="{{`/SQL_AutoGen/` | relURL}}">SQL AutoGen</a></li>
                        <li><a href="{{`/Data_Services_AutoGen/` | relURL}}">Data Services AutoGen</a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a href="#">Data Quality</a>
                    <div class="uk-navbar-dropdown" uk-dropdown="pos: left">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li class="uk-active"><a href="{{`/dspCompose/` | relURL}}">dspCompose</a></li>
                          <li><a href="{{`/dspMonitor/` | relURL}}">dspMonitor</a></li>
                          <li><a href="{{`/ISA/` | relURL}}">Information Steward Accelerator (ISA)</a></li>
                        </ul>
                      </div>
                  </li>
                  <li><a href="#">Master Data Management</a>
                    <div class="uk-navbar-dropdown" uk-dropdown="pos: left">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li class="uk-active"><a href="{{`/dspConduct/` | relURL}}">dspConduct</a></li>
                        </ul>
                      </div>
                  </li>
                  <li><a href="#">Platform</a>
                    <div class="uk-navbar-dropdown" uk-dropdown="pos: left">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li><a href="{{`/Agent_Int/` | relURL}}">Agent Interface</a></li>
                          <li><a href="{{`/Collect/` | relURL}}">Collect</a></li>
                          <li><a href="{{`/Integrate/` | relURL}}">Integrate</a></li>
                          <li><a href="{{`/WebApp_Dev/` | relURL}}">DSP App Development</a></li>
                          <li><a href="{{`/Assemble/` | relURL}}">Assemble</a></li>
                          <li><a href="{{`/Common/` | relURL}}">Common</a></li>
                          <li><a href="{{`/Sys_Admin/` | relURL}}">System Administration</a></li>
                          <li><a href="{{`/IGUC/` | relURL}}">IG Universal Connect</a></li>
                          <li><a href="{{`/Automate/` | relURL}}">Automate</a></li>
                          <li><a href="{{`/dspTrack/` | relURL}}">dspTrack</a></li>
                          <li><a href="{{`/DSP_Add_Ons/` | relURL}}">DSP Add Ons</a></li>
                        </ul>
                      </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a class="uk-text-capitalize" href="#">Tips</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li><a href="{{`/Bulk_Exec/` | relURL}}">Bulk Execution</a></li>
                  <li><a href="{{`/Excel_Int/` | relURL}}">Excel Integration</a></li>
                  <li><a href="#">Item</a></li>
                </ul>
              </div>
            </li>
          </ul>
          <a class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon" uk-navbar-toggle-icon uk-toggle href="#offcanvas-slide"></a>
        </div>
      </nav>
    </div>
  </div>